.trHistorialCuadre{
    background:white;
    td{
        padding: .2% 1%;
        border: 1px solid #cacaca;
    }
}
.tbodyHistorial{
    background:white;        
    td{
        padding: .2% 1%;
        border: 1px solid #cacaca;
    }
}